# Dart / Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
pubspec.lock.bak

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws
.DS_Store

# Android
android/.gradle/
android/local.properties
android/key.properties
android/app/upload-keystore.jks
android/app/*.jks
*.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/ephemeral/

# Misc
*.log
coverage/
